* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img{
    vertical-align: middle;
}

a:hover {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
ul,
ol {
    margin: 0;
    padding: 0;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
                  Common css end
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*=============================================
                    Menu part start       
=============================================*/
.main_menu {
    height: 50px;
    background: rgba(53, 53, 53, 0.25);
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    z-index: 999 !important;
}

.main_menu .navbar-nav .nav-item .nav-link {
    color: #f1f1f1;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    padding: 0 12px !important;
    line-height: 50px;
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;
    position: relative;
}

.main_menu .navbar-nav .nav-item .nav-link:hover {
    color: #222;
    background: #fff;
}

.main_menu .navbar-nav .nav-item .nav-link:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: #e23e38;
    /*transform: scale(0);*/
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;
}

.main_menu .navbar-nav .nav-item .nav-link:hover:after {
    width: 100%;
}

.main_menu .navbar-brand {
    background: #323232;
    width: 246px;
    height: 70px;
    text-align: center;
    transform: skewX(-40deg);
}

.main_menu .navbar-brand img {
    padding-top: 10px;
    transform: skewX(40deg);
    width: 50%;
}

.fixed-top {
    background: rgba(53, 53, 53, 0.25);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.main_menu .navbar-nav .nav-item .nav-link.active {
    color: #222;
    background: #fff;
}

.main_menu .navbar-nav .nav-item .nav-link.active{
    width: 100%;
}

/*=============================================
                    Menu part end       
=============================================*/


/*=============================================
                    Banner part start
=============================================*/
.banner_item {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    padding: 254px 0 118px;
    position: relative;
    z-index: 1;
}

.banner_item:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.banner_text h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.banner_text h1 {
    color: #e23e38;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.banner_text p {
    color: #ddd;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
    margin-bottom: 30px;
    padding: 0 8px;
}

.banner_text a {
    background: #e23e38;
    border: 2px solid #e23e38;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    line-height: 34px;
    padding: 0 30px;
    margin-right: 24px;
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;
}

.banner_text a:hover {
    border: 2px solid #fff;
    background: transparent;
}

.banner_text h3,
.banner_text h1,
.banner_text p {
    position: relative;
}

.banner_text h3::after {
    position: absolute;
    content: '';
    left: 0;
    top: 20px;
    width: 164px;
    height: 4px;
    background: #e23e38;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
}

.banner_text h3::before {
    position: absolute;
    content: '';
    right: 0;
    top: 20px;
    width: 110px;
    height: 4px;
    background: #e23e38;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%);
}

.banner_text h1::after {
    position: absolute;
    content: '';
    left: 0;
    top: -24px;
    width: 4px;
    height: 196px;
    background: #e23e38;
}

.banner_text h1::before {
    position: absolute;
    content: '';
    right: 0;
    top: -24px;
    width: 4px;
    height: 196px;
    background: #e23e38;
}

.banner_text p::after {
    position: absolute;
    content: '';
    left: 0;
    top: 80px;
    width: 68px;
    height: 4px;
    background: #e23e38;
}

.banner_text p::before {
    position: absolute;
    content: '';
    right: 0;
    top: 80px;
    width: 39px;
    height: 4px;
    background: #e23e38;
}

.banner_text2 h1:after,
.banner_text2 h1:before,
.banner_text2 h3:after,
.banner_text2 h3:before,
.banner_text2 p:after,
.banner_text2 p:before {
    display: none;
}


#banner_part .slick-dots li button {
    font-size: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 50%;
    margin: 0 5px;
}

#banner_part .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}

#banner_part .slick-dots li.slick-active button {
    width: 20px;
    height: 20px;
    border-color: #e23e38;
    background: #e23e38;
}

.prv_arr {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    border: 1px solid #f1f1f1;
    background: transparent;
    color: #f1f1f1;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;
}

.nxt_arr {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    border: 1px solid #f1f1f1;
    background: transparent;
    color: #f1f1f1;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;
}

.prv_arr:hover {
    color: #e23e38;
    border-color: #e23e38;
}

.nxt_arr:hover {
    color: #e23e38;
    border-color: #e23e38;
}

.bk_to_top {
    width: 40px;
    height: 40px;
    background: #e23e38;
    color: #fff;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
    position: fixed;
    right: 40px;
    bottom: 30px;
    z-index: 999;
    cursor: pointer;
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;
}

.bk_to_top:hover {
    background: #222;
}

/*=============================================
                    Banner part end       
=============================================*/


/*=============================================
                    About part start       
=============================================*/
#about_part {
    padding: 80px 0;
}

.about_video {
    position: relative;
}

.about_video .overly {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.about_video .overly a {
    position: absolute;
    color: #1e1b20;
    background: #e23e38;
    text-align: center;
    font-size: 24px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;
}

.about_video :hover a {
    background: #f1f1f1;
}

.about_text h4 {
    color: #222;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: -5px
}

.about_text p {
    color: #444;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    margin-top: 15px;
    padding: 0 15px;
}

.about_text p span {
    display: block;
    margin-top: 15px;
}

/*=============================================
                    About part end       
=============================================*/


/*=============================================
                    Gallery part start       
=============================================*/
.gallery_head h4 {
    color: #222;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: -5px
}

.gallery_head {
    margin-bottom: 30px;
}

.gallery_inner {
    padding: 30px 0;
    background: url(../images/gallery-banner.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}

.gallery_inner:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.gallery_img {
    position: relative;
}


.gallery_img .overly {
    position: absolute;
    content: '';
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(226, 62, 56, 0.5);
    border: 5px solid #fff;
    transform: scale(0);
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;
}

.gallery_img .overly i {
    position: absolute;
    font-size: 30px;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gall_mar {
    margin-bottom: 30px;
}

.gallery_img:hover .overly {
    transform: scale(1);
}

/*=============================================
                    Gallery part end       
=============================================*/


/*=============================================
                    Team part start       
=============================================*/

#team_part {
    padding: 80px 0 40px;
}

.team_head h2 {
    color: #222;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: -5px;
}

.team_img {
    position: relative;
    overflow: hidden;
}

.team_img .overly {
    position: absolute;
    left: 10px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(226, 62, 56, 0.5);
    border: 5px solid #fff;
    transform: scale(0);
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;
}

.team_img .overly ul li a {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    color: #fff;
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;
}

.team_img .overly ul {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.team_img .overly ul li a:hover {
    background: #fff;
    color: #1da0f2;
}

.team_inner:hover .team_img .overly {
    transform: scale(1);
}

.team_text p {
    transform: scale(0);
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;
}

.team_inner:hover .team_text p {
    transform: scale(1);
}

.team_inner {
    margin-top: 70px;
}

.team_inner:hover {
    transform: translateY(-42px);
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;
}

.team_inner:hover .team_text {
    border: 1px solid #ddd;
    border-top: 0;
}

.team_text h4 {
    color: #222;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    padding-top: 14px;
}

.team_text h5 {
    color: #444;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

.team_text p {
    color: #444;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
    padding: 10px 15px 20px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
                  Testimonial part start
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.testi_head h2 {
    color: #222;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: -5px;
}

.testi_head {
    margin-bottom: 30px;
}

.testi_inner {
    background: url(../images/tesimonial-background.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    padding: 30px 0 80px;
    position: relative;
    z-index: 1;
}

.testi_inner:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}


.testi_text h4 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.testi_text h5 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 5px;
}

.testi_text i {
    color: #e23e38;
    font-size: 13px;
    margin-bottom: 22px;
}

.testi_text p {
    color: #ddd;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 18px;
    margin-top: 12px;
    padding-right: 30px;
}



.testi_inner_top {
    padding-left: 93px;
}

.testi_inner_top img {
    position: absolute;
    left: 15px;
    top: 0;

}

.testi .slick-dots li button {
    font-size: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 50%;
    margin: 0 5px;
}

.testi .slick-dots {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: -52px;
    transform: translateX(-50%);
}

.testi .slick-dots li.slick-active button {
    width: 20px;
    height: 20px;
    border-color: #e23e38;
    background: #e23e38;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
                  Testimonial part end
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
                  Pricing part start
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

#pricing_part {
    padding: 80px 0;
}

.price_head h2 {
    color: #222;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: -5px;
}

.price_body {
    margin-top: 24px;
}

.price_inner h4 {
    color: #222;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    padding: 20px 0;
    background: #ddd;
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;
}

.price_inner h3 {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    padding: 35px;
    background: url(../images/price-bg-1.jpg);
}

.price_inner h3 span {
    font-size: 29px;
}

.price_inner ul {
    padding: 30px 0;
    background: #f1f1f1;
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;
    box-sizing: border-box;
}

.price_inner ul li {
    color: #444;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 14px;
}

.price_inner ul li:last-child {
    padding-bottom: 0;
}

.price_inner a {
    color: #222;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    padding: 10px;
    display: block;
    background: #ddd;
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;
}

.price_inner:hover h4,
.price_inner:hover a {
    background: #e23e38;
    color: #fff;
}

.price_inner:hover ul {
    box-shadow: inset 0 0 8px 0 rgba(226, 62, 56, 0.8), inset 0 0 0 0 rgba(226, 62, 56, 0.6);
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
                  Pricing part end
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
                  Counter part start
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

#counter_part {
    padding: 45px 0;
    background: url(../images/counter-background.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    text-align: center;
}

#counter_part:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: -1;
}

.counter_text h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

.counter_text p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
                  Counter part end
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
                  Class part start
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

#class_part {
    padding: 80px 0;
}

.class_head {
    margin-bottom: 30px;
}

.class_head h2 {
    color: #222;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: -5px;
}

.class_menu li {
    width: 16.66%;
    background: #f1f1f1;
}

.class_menu .nav-link.active,
.class_menu .show > .nav-link {
    color: #fff;
    background-color: #e23e38;
    border-radius: 0;
}

.class_menu li a {
    color: #222;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.class_inner ul {
    margin-top: 30px !important;
}

.class_inner ul li {
    width: 19.65%;
    float: left;
    padding: 50px 0;
    background: #f1f1f1;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;
}

.class_inner ul li:nth-child(5),
.class_inner ul li:nth-child(10) {
    margin-right: 0;
}

.class_inner ul li h6 {
    color: #222;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;
}

.class_inner ul li i {
    color: #444;
    font-size: 50px;
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;
}

.class_inner ul li p {
    color: #444;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;
}

.class_inner ul li:hover {
    background: #e23e38;

    transform: translateY(5px);
}

.class_inner ul li:hover h6 {
    color: #fff
}

.class_inner ul li:hover i {
    color: #fff
}


.class_inner ul li:hover p {
    color: #ddd
}

.class_btm {
    margin-top: 80px;
}

.class_btm ul {
    margin: 0 -15px;
}

.class_btm ul li {
    float: left;
    margin: 0 14px;
    background: #f1f1f1;
}


.class_btm ul li a img {
    width: 100% !important;
    /*    background: #f1f1f1;*/
}

.class_btm .class_img:nth-child(1),
.class_btm .class_img:last-child {
    margin: 0;
}

.class_btm ul li:hover {
    box-sizing: border-box;
    box-shadow: inset 0 0 3px 0 #d1c6c6;

}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
                  Class part end
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/


/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
                  Footer part start
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

#footer_part {
    background: url(../images/footer-banner.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}


#footer_part:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: -1;
}

.footer_logo {
    padding: 30px 0;
    border-bottom: 1px solid #ddd;
}

.footer h4 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 30px;
}

.footer ul li {
    color: #ddd;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.twitter_part p {
    color: #ddd;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    margin-bottom: 30px;
    position: relative;
    padding-left: 30px;
    margin-right: -2px
}

.twitter_part p i {
    position: absolute;
    left: 0;
    top: 5px;
    color: #1da1f2;
    font-size: 14px;
}

.flickr_img {
    float: left;
    width: 22.14%;
    margin-bottom: 10px;
    margin-right: 10px;
}


.flickr_inner .flickr_img:nth-child(4),
.flickr_inner .flickr_img:nth-child(8),
.flickr_inner .flickr_img:nth-child(12) {
    margin-right: 0;
}

.contact_part {
    color: #fff;
}

.contact_part ul {
    display: flex
}

.contact_part p {
    color: #ddd;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    padding-left: 30px;
    line-height: 18px;
}

.contact_part p i {
    position: absolute;
    left: 0;
    top: 10px;
    color: #e23e38;
    font-size: 12px;
}

.contact_part h6 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px
}

.contact_part ul li {
    padding: 8px;
    border: 1px solid #ddd;
    margin-right: 10px;
    margin-bottom: 35px;
    transition: all linear .4s;
    -moz-transition: all linear .4s;
    -o-transition: all linear .4s;
    -ms-transition: all linear .4s;
    -webkit-transition: all linear .4s;

}

.contact_part ul li a {
    color: #fff;
    font-size: 16px;
}

.contact_part ul li:hover {
    background: #e23e38;
    border-color: #e23e38;
}

.footer_bottom p {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    padding: 20px 0;
    border-top: 1px solid #fff;
}

.footer_bottom p span {
    color: #e23e38;
}

footer_bottom {
    padding: 20px 0;
    border-top: 1px solid #fff;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< 
                  Footer part end
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
